<launch>
<!--  <arg name="base_global_planner" default="carrot_planner/CarrotPlanner"/> -->
  <arg name="base_global_planner" default="navfn/NavfnROS"/>   
  <!-- <arg name="base_global_planner" default="nav_core_adapter::GlobalPlannerAdapter"/> -->
  <arg name="base_local_planner" default="nav_core_adapter::LocalPlannerAdapter"/>


  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="ouster/points"/>
    <!-- <remap from="scan" to="scan"/> -->
    <rosparam file="$(find locomove_base)/config/pointcloud_to_lazerscan_params.yaml" command="load"/>
  </node>   


<!--  <node pkg="subt_solution_launch" type="point_cloud_filter" name="pc_filter">-->
<!--    <param name="flat_height" value="0.25"/>-->
<!--    <param name="slope" value="0.5"/>-->
<!--  </node> -->

  <node name="locomove_base" pkg="locomove_base" type="move_base" output="screen">
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>

    <rosparam file="$(find locomove_base)/config/planner.yaml" command="load"/>
    <rosparam file="$(find locomove_base)/config/costmap_common_science.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find locomove_base)/config/costmap_common_science.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find locomove_base)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find locomove_base)/config/costmap_global.yaml" command="load" ns="global_costmap" />

    <!-- <remap from="/cmd_vel" to="/nav_vel" /> -->
  </node>
  
</launch>
